In [2]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Namish\OneDrive\Documents\projects\ACM day3\goldenboot.csv")
for col in ["Year","Goals","Age"]:
    df[col]=pd.to_numeric(df[col],errors="coerce")
df=df.dropna(subset=["Year","Goals","Age"]).reset_index(drop=True)
df.head()

   Year              Player  Goals             Club  Age
0  2025       Kylian Mbappé     31      Real Madrid   26
1  2024      Erling Haaland     36  Manchester City   23
2  2023          Harry Kane     36    Bayern Munich   30
3  2022  Robert Lewandowski     35    Bayern Munich   34
4  2021  Robert Lewandowski     41    Bayern Munich   33

In [3]:
means=df[["Year","Goals","Age"]].mean()
medians=df[["Year","Goals","Age"]].median()
modes=df[["Year","Goals","Age"]].mode().iloc[0]
print("mean values are shown down below,pls notice they not all same")
print(means)
print("median numbers are here,maybe not super accurate looking,still fine")
print(medians)
print("mode is kinda tricky,it picks first one if many,so beware ok")
print(modes)

mean values are shown down below,pls notice they not all same
Year     2015.50
Goals      36.55
Age        28.55
dtype: float64
median numbers are here,maybe not super accurate looking,still fine
Year     2015.5
Goals      36.0
Age        29.5
dtype: float64
mode is kinda tricky,it picks first one if many,so beware ok
Year     2006.0
Goals      31.0
Age        30.0
Name: 0, dtype: float64

In [4]:
corr=df[["Year","Goals","Age"]].corr()
print("correlation table is down,values look bit weird sometimes,that normal")
corr

correlation table is down,values look bit weird sometimes,that normal

           Year     Goals       Age
Year   1.000000  0.128170  0.259093
Goals  0.128170  1.000000 -0.092262
Age    0.259093 -0.092262  1.000000

In [4]:
from scipy import stats
import numpy as np
goals=df["Goals"].dropna().to_numpy()
t_stat,p_value=stats.ttest_1samp(goals,popmean=35)
print(f"one sample t test done,t value={t_stat:.3f},p value={p_value:.4f}")
print(f"sample mean is kinda around {goals.mean():.2f},n={goals.size},hope thats fine")

one sample t test done,t value=1.128,p value=0.2732
sample mean is kinda around 36.55,n=20,hope thats fine